#footer-1-box{
    margin: auto;
    display: grid;
    grid-template-columns: 20% 1fr 1fr;
    grid-gap: 10px;
    display: flex;
    justify-content: flex-end;
   
    margin-top: 20px;
    
}
.upper-box{
    margin-top: 10px;
    font-weight: 100;
}
.Emai-box{
    width: 20%;
}
.signupbox{
    width: 20%;
    
}
.signupbox:hover{
    border: 2px solid#00819d;
}

#footer-box{
    display: flex;
}
#footer-1-box>div:nth-child(2)>span>input{
    height: 30px;
    width: 100%;
}
button{
    background: #00819d ;
    color: #fff;
    font-weight: 400;
    height: 36px;
    width: 100%;
    border: 0px;
    font-weight: 400;
    line-height: 1.4;

}
button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #00819d;
    border: #00819d;
}
.footer-down-box{
    background-color: #f9f9f9;
    margin-top: 20px;
    font-family: Brandon Text,Arial,sans-serif;
    font-weight: 100;
    line-height: 1;
}
.left-content{
    display: flex;
    column-gap: 10px;
    font-family: Brandon Text,Arial,sans-serif;
    font-weight: -50;
}
a{
    color: grey;
    text-decoration: none;
    cursor: pointer;
    font-family: Brandon Text,Arial,sans-serif;
}
a:hover{
    transition: border-color 300ms;
    color: #00819d;
    text-decoration:underline;
}
h3{
   margin-left: 40px;
   margin-bottom: -10px;
   line-height: 25px;
}
.list-content{
    list-style: none;
    line-height: 25px;
    
}
.bottom-content
{
    display: inline-flex;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-left: -90px;
    margin-top: 40px;
    margin-bottom: 20px; 
}
.right-content{
    margin: auto;
    font-size: 20px;
    margin-top: 60px;
}

#social-icons
{
    display: inline-flex;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
#social-icons:hover{
    cursor: pointer;
    
}
.link-icons{
    color: black;
}

/* For Medium Screens */

@media all and (min-width: 451px) and (max-width:750px){
     .left-content{
         display: grid;
         grid-template-columns: repeat(3,1fr);
         grid-template-rows: repeat(3,auto);
     }
     .right-content{
         display: grid;
         grid-template-columns: repeat(1,1fr);
         grid-template-rows: repeat(1,auto);
         background-color: #f9f9f9;
         height: auto;
     }
     .bottom-content{
         display: grid;
         grid-template-columns: repeat(2,1fr);
         grid-template-rows: repeat(2,auto);
         line-height: 20px;
         margin-left: 5px;
     }
     #social-icons{
        display: list-item;
    
    }
    #footer-1-box{
        flex-direction: column;
    }
    .upper-box{
        text-align: center;
    }
    .Emai-box{
        width: 90%;
        margin: auto;
    }
    .signupbox{
        width: 90%;
        margin: auto;
    }
} 

/* For Small Screens */


@media all and (min-width: 200px) and (max-width: 450px){

    .left-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,auto);
    }
    .right-content{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,auto);
        background-color: #f9f9f9;
        margin-left: 10px;
    }
    .bottom-content{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,auto);
        line-height: 30px;
        margin-left: 5px;
        gap: 10px;
    }
    #social-icons{
        display: list-item;
    
    }
    #footer-1-box{
        flex-direction: column;
    }
    .upper-box{
        text-align: center;
    }
    .Emai-box{
        width: 90%;
        margin: auto;
    }
    .signupbox{
        width: 90%;
        margin: auto;
    }



}
